NEXT_PUBLIC_SUPABASE_URL=NEXT_PUBLIC_SUPABASE_URL=https://rjbeadzwfwuchjdydsml.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_z9NYGwvvkeR56q28upmNcQ_C1QJgpCR
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhnb21qdW1yd2R3emtrdnNwcGpzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzgyNTk0MiwiZXhwIjoyMDk5NDAxOTQyfQ.auBsHiXVDucWB1qRSocNEC7AJ2O2iCWI-kxnL5aXERY
NEXT_PUBLIC_APP_URL=http://localhost:3000
